html {
  height: 100%;
}

.background-cover {
  background: rgb(0,0,0);
  /* background: linear-gradient(45deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 67%, rgba(252,176,69,1) 100%); */
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -100000;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-gray {
  display: inline-block;
  text-decoration: none !important;
  background-color: gray;
  width: fit-content;
  padding: 1rem 1.2rem;
  margin: 1rem;
  color: wheat;
  font-weight: bolder;
  border-radius: 10;
}

.button-gray:hover {
  background-color: white;
  color: black;
}


.site-container {
  display: block;
  overflow: auto;
  text-align: center;
  background-color: #30404d;
  color: wheat;
  width: 80vw;
  height: 100%;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.site-container::-webkit-scrollbar {
  display: none;
}

.dashed-separator {
  border-bottom: dashed #555;
  border-width: 0.5rem;
}

.under-construction-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media(max-width:991px) {
  .site-container {
    width: 100%;
  }
}